<div id="footer">
  <div class="f-content">
    <%= link_to image_tag('logo.png'), '/', class: 'f-logo' %>
    <div class="f-item">
      <%= link_to '利用規約', '/' %>
    </div>
    <small class="copyright">&copy; Copyright 2020</small>
  </div>
</div>  