<div id="header">
  <div class="header_logo">
    <a href="/">
      <img src="img/Logo.png" class="logo_img">
    </a>
    <a href="/">
      <span class="logo_title">GameBug</span>
    </a>
  </div>

  <div class="sarch">
    <form id="form" action="#" method="get" class="new-sarch">
      <p><input type="text" name="search"><input type="submit" value="検索"></p>
      <!-- <input id="sarchBox" type="search" class="form-text" placeholder="ゲームタイトルで探す">
      <button id="sbtn" type="submit"><i class="fas fa-search"></i></button> -->
    </form>
  </div>

  <div class="link">
    <ul id="nav">
      <li>
        <a href="#">ログイン</a>
      </li>
      <li>
        <a href="#">新規登録</a>
      </li>
    </ul>
  </div>
</div>  